/* *{
    margin: 0;
    padding: 0;
}
p{
    margin: 10px;
}
.desc{
    color: blue;
}
#title{
    color: green;
}
p{
    color: red;
} */


.btn{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 25px;
    color: white;
}
.btn-primary{
    background-color: rgb(46, 46, 191);
}
.btn-success{
    background-color: green;
}
.btn-primary:hover{
    background-color: rgb(46, 46, 100);
}
button:disabled{
    color: black;
}
.box{
    width: 100px;
    height: 300px;
    border: 1px solid black;
    transition: .5s;
}
.box:hover{
    background-color: red;
}
/* p:last-child{
    color:  green;
}
.btn-primary:hover +div>p:first-child{
    color: brown;
}
p:nth-child(1){
    color: cyan;
} */
p:last-of-type{
    color: blue;
}
p:only-child{
    color: yellow;
}
/* *{
    color: red;
}
:not(span){
    color:green;
} */
input:required{
    background-color: red;
}
span::selection{
    background-color: red;
    color: white;
}
li::marker{
    color: red;
}
main p::first-line{
    color: red;
}
#notifications{
    position: relative;
    cursor: pointer;
}
#notifications::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: black;
    color: red;
    transition: .5s;

}
#notifications:hover::after{
    width: 100px;
}