.card {
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  transition: 0.2s linear;
  object-fit: cover;
}
.card .size {
  position: absolute;
  z-index: 999;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 700;
  transition: 0.2s linear;
}
.card:hover .size {
  bottom: 3%;
}
.card:hover img {
  filter: brightness(100%);
}
.card button {
  z-index: 999;
  position: absolute;
  right: 3%;
  top: 4%;
}
.drop-zone{
  border: 2px dotted lightgray;
  width: 100%;
  height: 120px;
  margin-top: 15px;
  position: relative;
}
.drop-zone span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 35px;
  font-weight: bold;
  color: gray;
}
