ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
    transition: .5s;
}
ul li a:hover{
    color: red;
}

body div ul li:nth-child(3)>a{
    color: green;
}
span:first-of-type{
    color: purple;
}
span:last-of-type{
    color: aqua;
}