header{
    background-color: green;
    height: 70px;
    .nav{
        width: 70%;
        margin: 0 auto;
        height: 100%;
        h1{
            color: red;
            font-size: 40px;
            text-align: center;
        }
    }
}